.topLeft {
  height: 50vh;
  background-color: #7164ff;
}

.bottomLeft {
  background-color: #6155db;
}

@media (max-width: 200px) {
  .topRight {
    height: 10vh;
    background-color: white;
    visibility: hidden;
  }

  .titleImage{
    height: 30%;
    width: 30;
  }
}

.bottomRight {
  height: 82.4vh;
  background-color: #f7f7f7;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px 10px 10px 10px;
}

::-webkit-scrollbar {
  width: 24px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 10px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.title {
  margin-top: 20px;

  margin-left: 30px;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
  font-size: 15px;
  display: block;
}

.title1 {
  margin-top: 20px;
  padding-top: 35px;
  margin-left: 30px;
  color: white;
  font-size: 30px;
  width: 50vh !important;
  font-family: 'Quicksand', sans-serif;
}

.rightTitle {
  margin-top: 50px;
  margin-left: 50px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.icon-top {
  width: 50px;
  height: 30px;
  margin: 17px 0px 0px 60px;

}

.icon-bottom {
  width: 40px;
  height: 30px;
  margin: 15px 0px 0px 60px;
}

.iconName {
  display: block;
  margin-left: 60px;
  padding-top: 10px;
  color: white;
  font-size: 15px;
  width: 20%;
  font-family: 'Quicksand', sans-serif;

}

.titleImage{
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
}

.settingIcon {
  width: 30px;
  height: 30px;
  color: gray;
  float: right;
  margin-right: 10%;
}

.app {
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  background-color: white;
  margin: 20px;
  padding-bottom: 20px;
}

.appName {
  font-size: 25px;
  color: black;
  font-weight: 500;
}

.subName {
  font-size: 13px;
  color: gray;
}

.box1.mr-2.rounded {
  margin-top: 8px;
}

.media.text-muted.pt-3 {
  padding-left: 25px;
  padding-bottom: 20px;
}

.box1 {
  width: 70px;
  height: 70px;
  padding-left: 20px;
}

.details {
  margin-left: 25px;
  font-weight: 500;

}

.details1 {
  margin-left: 25px;
  font-size: 25px;
  font-weight: 600;

}

.mr-2,
.mx-2 {
  margin-right: 30px !important;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;

}

.flex-container>* {
  flex: 1 1 120px;
}

.arrowIcon {
  color: gray;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.btn {
  float: right;
  height: 5px;
  margin-top: 10px;
  padding-top: 0px !important;
}

.titleBox {
  margin-top: 60px;
  margin-left: 20px;
  height: 60px;
  width: 80%;
  background-color: #ac2d77;
  border-radius: 0%;
  display: inline-block;

}

